.fpo {
    position: relative;
    margin: 15% auto;
    display: block;
}

.pulsate {
    background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
    background-size: 400% 400%;
    -webkit-animation: Gradient 2.25s ease infinite;
    -moz-animation: Gradient 2.25s ease infinite;
    animation: Gradient 2.25s ease infinite;
}

.block {
    display: block;
    width: 271px;
    height: 16px;
    color: black;
}

.block2 {
    width: 78px;
    height: 8px;
    margin-bottom: 8px;
}

.preloader_wrap {
    height: 100%;
    border-radius: 10px;
    padding: 0 30px;
    background-color: #eceff1;
    background: linear-gradient(-45deg, #eceff18f, #f0f0f080, #eceff18f, #f0f0f080);
    background-size: 400% 400%;
    animation: Gradient 2.25s ease infinite;
}

.block3 {
    width: 131px;
    height: 8px;
    margin-bottom: 16px;
}

.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    float: right;

}

#preloader_card {
    box-sizing: border-box;
    width: 335px;
    background: #fff;
    position: relative;
    margin: auto;
    top: 25%;
}

.card_image {
    padding-top: 45px;
}

.preloader_card_image {
    box-sizing: border-box;
    display: block;
    width: 335px;
    height: 243px;
    background: #FAFAFA;
    padding: 16px;
}

.preloader_card_content {
    clear: both;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}